.header {
    padding: 60px;
    text-align: left;
    background: #4d1545;
    color: white;
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
a {
    color: white;
    font-family: 'Lato', sans-serif;
}